@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-blue: #697ae8;
    --main-yellow: #e8c469;
    --main-red: #e88469;
    --off-white: #f2f2f2;
    --main-grey: rgba(51,51,51,.3);
    --tree-green: #88a52f;
}


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* style the navbar */

.navbar {
    background-color: var(--tree-green);
    width: 100%;
    margin: auto;
    top:0;
}
nav {
    display: flex;
    justify-content: flex-end; /* change to space around / between if you add a logo */
    align-items: center;
    width: 100%;
    /* max-width: 850px; */
    margin: auto;
}
nav ul {
    margin: 0 5rem;
}
nav > img {
    width: 5rem;
    height:5rem;
    margin: .5rem 0;
    border-radius: 1.5rem;
}
.navlist {
    display: inline-block;
    list-style: none;
    margin-left: 1rem;
    padding: 1.5rem 1rem;
    color: white;
}

.navlist:hover {
    background-color: #a9b85c;
    cursor: grab;
}

.hamburger {
    background-color: var(--main-grey);
    width: 2rem;
    height: 2rem;
    display: none;
}
.line {
    background-color: black;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    
}

/* Style the heading section */

.heading-section {
    position: relative;
    display: flex;
    background-image: url("/images/bridge.png");
    background-size: cover;
    background-color: #cccccc;
    width: 100%;
    /* max-width: 850px; */
    height: 100vh;
    margin: auto;
}

.heading-card {
    background-color: var(--main-grey);
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 1rem;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* .heading-img {
    overflow: hidden;
    border-radius: 2rem;
    padding-bottom: 2rem;
} */

/* Style the three-column section */
.three-column-section {
    background-color: var(--tree-green);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* max-width: 850px; */
    margin: auto;
    grid-gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: var(--main-grey);
    padding: 1rem;
    border-radius: 1rem;
}

.card > p {
    color: var(--off-white);
    padding-top: 1rem;
    text-align: center;
}
.card > img {
    border-radius: 1rem;
    box-shadow: 0px 0px 20px black;
}
/* Styling individual elements */
h1 {
    font-size: 2rem;
    color: var(--off-white);
    text-shadow:2px 1px #333;
    padding: 5rem 0;
}



/* Media queries for size changes */
@media all and (max-width: 450px) {
    .navlist {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
    }
    nav {
        justify-content: center;
    }
}