@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-blue: #697ae8;
    --main-yellow: #e8c469;
    --main-red: #e88469;
    --off-white: #f2f2f2;
    --main-grey: rgba(51,51,51,.3);
}


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* style the navbar */

.navbar {
    background-color: var(--main-blue);
    width: 100%;
    margin: auto;
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 850px;
    margin: auto;
}
.logo img {
    border-radius: 2rem;
}
.navlist {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    padding: 1.5rem 1rem;
    color: white;
}

.navlist:hover {
    background-color: #697aff;
    cursor: grab;
}

/* Style the heading section */

.heading-section {
    position: relative;
    display: flex;
    background: var(--off-white);
    padding: 1rem;
    width: 100%;
    max-width: 850px;
    height: 100vh;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.heading-img {
    overflow: hidden;
    border-radius: 2rem;
    padding-bottom: 2rem;
}

/* Style the three-column section */
.three-column-section {
    background-color: var(--main-blue);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 850px;
    margin: auto;
    grid-gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: var(--main-grey);
    padding: 1rem;
    border-radius: 1rem;
}

.card > p {
    color: var(--off-white);
}
/* Styling individual elements */
h1 {
    font-size: 2rem;
    color: #333;
    padding: 5rem 0;
}



/* Media queries for size changes */
@media all and (max-width: 450px) {
    .navlist {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
    }
    nav {
        justify-content: center;
    }
}